* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
}

h1 {
    color: blueviolet;
    text-align: center;
    pointer-events: none;
}

h1 > span {
    color: palevioletred;
    font-size: 36px;
    pointer-events: none;
}

#gameField {
    /** Size **/
    width: 500px;
    height: 565px;
    /** Colors **/
    background: url(../imgs/bg.gif);

    /** Position **/
    margin: 0 auto;
    position: relative;
}

#playerField {
    width: 100%;
    height: 100px;

    /* background-color: rgb(4, 219, 4); */

    position: absolute;
    top: 450px;
}

#player {
    width: 100px;
    height: 100px;

    /* background: url(../imgs/player.png); */

    transform: rotate(-43deg);
    margin-top: 25px;
    position: absolute;
    pointer-events: none;

    transition: 0.3s ease;
}
.bullet{
    width: 10px;
    height: 20px;
    border-top: 1px solid white;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    background-color: white;
    
}
